table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dropdown {
  display: flex;
  width: 15em;

}

.tablecontainer {
  display: flex;
  margin-top: 1em;
  flex-direction: column;
}

.filterdrop {
  background-color: wheat;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
.uparrow{

  font-size:30px;

}
.hidearrow{
  display: none;
}
.ItemNotFound{
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.36;
  color: #0a2745;
  margin-top: 29px;

}
.tabledata{
  display: flex;
  justify-content: center;

}