<nav class="navbar navbar-dark bg-primary navbar">
  <h2> MF universe</h2>
  <img src="https://assets2.kuvera.in/production/atlantis/web/assets/img/kuvera-logo-dark.svg">
  <button class="material-icons" (click)="gotohome()">home</button>

</nav>
<div class="tablecontainer">

  <table>

    <tr>

      <th class="table-primary">Index

      </th>
      <th class="table-primary">Name Of Fund
        <span [class.hidearrow]="hideuparrow" style='font-size:30px;' (click)="hidearrow1('name-asc')">&#8593;

        </span>
        <span [class.hidearrow]="hidedownarrow" style='font-size:30px;' (click)="hidearrow2('name-asc')">&#8595;

        </span>

      </th>
      <th class="table-primary">Fund Category
        <span [class.hidearrow]="hideuparrow" style='font-size:30px;' (click)="hidearrow1('fund_category')">&#8593;

        </span>
        <span [class.hidearrow]="hidedownarrow" style='font-size:30px;' (click)="hidearrow2('fund_category')">&#8595;

        </span>

        <div class="form-group dropdown">
          <label for="exampleFormControlSelect1"></label>
          <select class="form-control " id="fund_category" (change)="selected($event)">
            <option value="undefined">Select Fund Category </option>
            <option *ngFor="let item of datacategaroy" value={{item}}>{{item}} </option>

          </select>
        </div>
      </th>
      <th class="table-primary">Plan
        <span [class.hidearrow]="hideuparrow" style='font-size:30px;' (click)="hidearrow1('plan')">&#8593;

        </span>
        <span [class.hidearrow]="hidedownarrow" style='font-size:30px;' (click)="hidearrow2('plan')">&#8595;

        </span>

        <div class="form-group dropdown">
          <label for="exampleFormControlSelect1"></label>
          <select class="form-control" id="plan" (change)="selected($event)">
            <option value="undefined">Select Plan Option </option>
            <option *ngFor="let item of plan" value={{item}}>{{item}} </option>


          </select>
        </div>
      </th>
      <th class="table-primary">fund_type
        <span [class.hidearrow]="hideuparrow" style='font-size:30px;' (click)="hidearrow1('fund_type')">&#8593;

        </span>
        <span [class.hidearrow]="hidedownarrow" style='font-size:30px;' (click)="hidearrow2('fund_type')">&#8595;

        </span>

        <div class="form-group dropdown">
          <label for="exampleFormControlSelect1"></label>
          <select class="form-control" id="fund_type" (change)="selected($event)">
            <option value="undefined">Select Fund</option>
            <option value="Debt">Debt</option>
            <option value="Equity">Equity</option>
            <option value="Hybrid">Hybrid</option>
            <option value="Others">Others</option>
            <option value="NA">NA</option>

          </select>
        </div>
      </th>
      <th class="table-primary">Year-1 returns
        <span [class.hidearrow]="hideuparrow" style='font-size:30px;' (click)="hidearrow1('year_1')">&#8593;

        </span>
        <span [class.hidearrow]="hidedownarrow" style='font-size:30px;' (click)="hidearrow2('year_1')">&#8595;

        </span>



      </th>
      <th class="table-primary">Year-3 returns
        <span [class.hidearrow]="hideuparrow" style='font-size:30px;' (click)="hidearrow1('year_3')">&#8593;

        </span>
        <span [class.hidearrow]="hidedownarrow" style='font-size:30px;' (click)="hidearrow2('year_3')">&#8595;

        </span>

      </th>

    </tr>
  
    <tr *ngFor="let item of data |slice:0:100 let indexofelement=index">

      <td>{{indexofelement}}</td>
      <td id={{item.code}} (click)="detail($event)">{{item.name}}</td>
      <td>{{item.fund_category}}</td>
      <td>{{item.plan}}</td>
      <td>{{item.fund_type}}</td>
      <td>{{item.returns["year_1"]}}</td>
      <td>{{item.returns["year_3"]}}</td>
    </tr>
  

  </table>
  <div class="tabledata">
      
    <span class="ItemNotFound">{{message}}</span>
    <span class="ItemNotFound">{{errormessage}}</span>

  </div>

</div>
<div class="footer bg-primary">
  <img src="https://assets2.kuvera.in/production/atlantis/web/assets/img/kuvera-logo-dark.svg">
</div>
