<nav class="navbar navbar-dark bg-primary navbar">

  <img src="https://assets2.kuvera.in/production/atlantis/web/assets/img/kuvera-logo-dark.svg">
  <button type="button" class="btn btn-secondary homebtn" (click)="gotohome()"> Home</button>

</nav>
<div class="tabledata">
      
  <span class="ItemNotFound">{{errormsg}}</span>


</div>

<div  [class.hidetable]="hidetable" class="container">



  
  <div class="subcontainer">

    <div class="container-main">

      <div class="name-heading">
        <span>
          {{nameofscheme}}</span>
      </div>
      <div class="summaryinfo">
        Summary Info
      </div>

      <span class="borderspan">

      </span>
      <table class="table">
        <thead class="t">
          <tr>
            <th scope="col">Fund Name</th>
            <th scope="col">:</th>
            <td scope="col">{{FundName}}</td>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Start Date</th>
            <td>:</td>
            <td>{{Scheme}}</td>

          </tr>
          <tr>
            <th scope="row">Category</th>
            <td>:</td>
            <td>{{category}}</td>

          </tr>
          <tr>
            <th scope="row">Fund House</th>
            <td>:</td>
            <td>{{FundHouse}}</td>

          </tr>
          <tr>
            <th scope="row">Type</th>
            <td>:</td>
            <td>{{type}}</td>

          </tr>
          <tr>
            <th scope="row">Manager</th>
            <td>:</td>
            <td>{{Manager}}</td>

          </tr>
          <tr>
            <th scope="row">Net Assets(Rs cr)</th>
            <td>:</td>
            <td>{{Assets}}</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
<div [class.hidetable]="hidetable" class="tableinfo">More Details:-</div>
<div class="objective">
  <div [class.hidetable]="hidetable" class="info">Investment Objective:-</div>{{objective}}
</div>



<table [class.hidetable]="hidetable" class="table table-secondary">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Name</th>
      <th scope="col">Detail</th>


    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of detail let indexOfelement=index;">
      <th scope="row">{{indexOfelement}}</th>
      <th scope="row" class="fontstyle">{{item}}</th>
      <td>{{data[item]}}</td>


    </tr>
    <tr>
      <th scope="row">46</th>
      <th scope="row" class="fontstyle">Returns-year1</th>
      <td>{{data.returns['year_1']}}%</td>


    </tr>
    <tr>
      <th scope="row">47</th>
      <th scope="row" class="fontstyle">Returns-year3</th>
      <td>{{data.returns['year_3']}}%</td>


    </tr>
    <tr>
      <th scope="row">48</th>
      <th scope="row" class="fontstyle">Returns-year5</th>
      <td>{{data.returns['year_5']}}%</td>


    </tr>

  </tbody>
</table>
<div class="footer bg-primary">
  <img src="https://assets2.kuvera.in/production/atlantis/web/assets/img/kuvera-logo-dark.svg">
</div>
