.navbar {
  display: flex;
  justify-content: flex-start;
  height: 5em;
}

.homebtn {
  display: flex;
  margin-left: 5em;
}

.fontstyle {
  font-family: sans-serif;
  font-weight: 100;
  font-size: medium;
  margin: 1em;
  text-transform: capitalize;
  font-family: sans-serif;
  border-right: 1px solid black;
}

.container-main {
  display: flex;
  flex-direction: column;
  /* width: 50em; */
  border: 1px solid black;
  margin: 1em;

}

.name-heading {
  display: flex;
  font-size: 2em;
  font-family: sans-serif;
  padding: 1em;
  color: blue;
  margin: 3px;
}

.borderspan {
  display: flex;
  border-bottom: 1px solid black;
}

.summaryinfo {
  display: none;
  margin: 1em;

}

.objective {
  display: flex;
  border: 1px solid black;
  font-size: medium;
  font-family: sans-serif;
  background-color: rgb(172, 173, 173);
  color: rgb(4, 4, 39);
  padding: 1em;
  font-weight: 500;
  font-variant: inherit;


}

.tableinfo {
  display: flex;
  border: 1px solid black;

  background-color: rgb(172, 173, 173);

  padding: 1em;
  font-weight: 500;
  font-variant: inherit;

  font-size: 2em;
  color: black;
  border-bottom: 0px;



}

.info {
  color: black;
  font-weight: 900;
}

.subcontainer {

  display: flex;
  flex-direction: column;
  justify-content: center;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
.ItemNotFound{
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.36;
  color: #0a2745;
  margin-top: 29px;

}
.hidetable{
  display: none;

}
