.navbar {
  display: flex;
  justify-content: center;

  height: 5em;
}

.homebtn {
  display: flex;
  margin-left: 5em;
}

.fontstyle {
  font-family: sans-serif;
  font-weight: 100;
  font-size: medium;
  margin: 1em;
  text-transform: capitalize;
  font-family: sans-serif;
  border-right: 1px solid black;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: red; */
  color: white;
  text-align: center;
}

.instruction {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.subdiv {
  color: #2b3d51;
  margin-top: 11px;
  padding-right: 0;
  width: 400px;
  height: 52px;
}

.homeimg {
  display: flex;
}

.line1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.36;
  color: #0a2745;
  margin-top: 29px;
}

.line2 {
  font-size: 16px;
  line-height: 1.63;
}

.container {
  display: flex;
  margin: 5em;

}
.homebtn1{
    margin-top: 1em;
   
}
