<nav class="navbar navbar-dark bg-primary navbar">

  <div class="nav">
    <img src="https://assets2.kuvera.in/production/atlantis/web/assets/img/kuvera-logo-dark.svg">
    <button type="button" class="btn btn-secondary homebtn" (click)="explore()">Explore</button>
  </div>

</nav>
<div class="container">
<div class="instruction">
  <div class="homeimg">
    <img  src="https://assets2.kuvera.in/production/atlantis/web/assets/img/home/intro-ill.svg" ></div>
      <div class="subdiv">
  <div  class="line1">
    Investments Simplified
  </div>
  <div  class="line2">
    First free Direct Mutual Fund investing platform. Zero fees, higher returns.
  </div>
  <button type="button" class="btn btn-primary homebtn1" (click)="explore()">See All funds</button>
</div>
 
</div>


</div>







<div class="footer bg-primary">
  <img src="https://assets2.kuvera.in/production/atlantis/web/assets/img/kuvera-logo-dark.svg">
</div>
